@font-face {
  font-family: 'Raleway Light';
  src: url('/fonts/Raleway-Light.ttf') format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-Regular.ttf') format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-Italic.ttf') format('truetype');
  font-display: swap;
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-Semibold.ttf') format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-SemiboldItalic.ttf') format('truetype');
  font-display: swap;
  font-style: italic;
  font-weight: 600;
}
