@use '@/styles/utils' as *;
@use '@/styles/fonts' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  font-family: $font-family--primary;
  font-size: 16px;
  color: getColor('black');
}

body {
  @include text--body('medium');
}

#__next {
  flex: 0 1 auto;
  height: 100%;
  margin: auto;
  overflow: auto;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

svg {
  display: block;
}

button {
  display: block;
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  &:focus:not(:focus-visible) {
    border-style: none;
    outline: none;
  }
}

h1 {
  @include text--heading('1');
}

h2 {
  @include text--heading('2');
}

h3,
h4,
h5,
h6 {
  @include text--heading('3');
}
